*{
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;

}
.nav{
    
    background-color: white;
    display: grid;
    width: 100%;
   grid-template-columns: repeat(12,1fr);
    grid-template-columns: 8fr repeat(4,4fr) 2fr 3fr 5fr repeat(3,1fr); 
    justify-content: start;
    align-items: stretch;
  top: 0;
  padding-bottom: 20px;
    gap: 0px;
}
.tv{

    background-color: transparent;
    margin-left: 0px;
    margin-top: 20px;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: black;
}
.icon{
    margin-left: 0;
    margin-right: 0;
}
nav a{
    text-decoration: none;
    background-color: transparent;
}
nav img{
    padding-left: 30px;
}
nav a:hover{
    text-decoration: underline;
    color: red;
}
nav a svg{
    background-color: transparent;
}
.box{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
max-width: 160px;
white-space: nowrap;
    min-width: 90px;
    z-index: 1000;
    display: none;
    border: 1px solid rgb(155, 155, 155);
    box-sizing: border-box;
    
}
.heading:hover   .box{
    display: block;
}
.box ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
   
}
.box ul li{
    margin-top: 0px;
    background-color: white;
    list-style: none;
    
}
.box ul li a{
    color: black;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
   
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
.box ul li a:hover{
    color: white;
    text-decoration: underline;
    background-color: red;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;

}
.heading{
    position: relative;
    display: inline-block;
}
.nav2{
    display: none;
}
.background{
    background-image: url("Images/bg.png");
    width: 100%;
    height: 85vh;
    position: relative;

background-size: cover;
background-position: center;

}

 .grid{ 
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 100%;
    width: 100%;
  
    padding: 0px;
    margin: 0px;
    position: absolute;
    background: transparent;
    gap: 90px;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.grid div{
    background: transparent;
    
    margin-right: 0px;
    margin-top: 50px;
    width: 100%;
}

.grid image{
    height: 72vh;
    width: 20vw;

margin-left: 20px;
}
.image img{
    height: 57vh;
    width: 48vw;
    object-fit:cover;
    background-color: transparent;
    margin-left: 0px;
   
}
.text{
    display: flex;
    flex-direction: column;
   
    gap: 5px;
    
}
.text div{
   
    height: auto;
    width: 90%;
    margin: 0;
    padding: 0;
 margin-left: 32px;
}
.text div:first-child{
    margin-top: 27px;
    
}
.text1{
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 68px;
    color: white;
}
.text2{
font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
font-size: 23px;
font-weight: 300;
line-height: 34px;
color: white;
}
.button a{
margin-top: 15px;
    background-color:black ;
    border: 1px solid black;
    border-radius: 17px;
    display: inline-block;
    height: 6vh;
    width: 10vw;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: white;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
}
.button a:hover{
background-color: white;
color: black;
}
.newarrivals{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family:Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: rgb(33, 37, 41);
    
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
margin-bottom: 50px;
    width: 99.5%;
    height: 100%;
}

.grid2 div{
   
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
.grid2 div:first-child{
    background-color: white;
    width: 100%;
    
}
.grid21{
    position: relative;
    background-color: white;
    border: 1px solid white;
     border-radius: 8px;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    margin-left: 10px;
    gap: 10px;
    padding-bottom: 0px;
    
}
.grid21::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 1px solid gray;
     border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grid21:hover::before{
    opacity: 0.5;
    
}
.grid21 div{
    position: relative;
    z-index: 2;
    height: auto;
    background-color: transparent;
    margin: 0;
    padding: 0;
    
   
}
.grid21 div:first-child{
    margin-top: 60px;
    height: auto;
    background-color: transparent;
    margin-bottom: 0px;
}
.tvimage a img{
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 30px;
    width: 90%;
    
    padding-bottom: 70px;
}
.tvimage a{
    background-color: transparent;
}
.tvimage a img{
    transition: transform 0.5s ease;
}
.tvimage a:hover img{
transform: scale(1.1);
}
.C6K{
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-weight: 700;
    color: rgb(33, 37, 41);
    size: 16px;
    line-height: normal;
   
    text-align: center;
    
    margin: 0;
    padding: 0;
    
}
.performance{
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    
    font-weight: 400;
    color: rgb(33, 37, 41);
    text-align: center;
    
    margin: 0;
    padding: 0;
}
.b{
    text-align: center;
}
.b a{
    margin-top: 0px;
    background-color:black ;
    border: 1px solid black;
    border-radius: 17px;
    display: inline-block;
    height: 6vh;
    width: 10vw;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: white;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
}
.b a:hover{
    background-color: white;
color: black;
}
.grid22{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: transparent;
    gap: 20px;
}
.grid22 div{
padding-bottom: 5px;
background-color: white;

}
.grid22img1{
     background-color: white;
     border: 1px solid white;
     border-radius: 8px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    position: relative;
    gap: 0px;
    

}
.grid22img1::before{
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 1px solid gray;
     border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grid22img1:hover::before{
    opacity: 0.5;
    
}
.grid22img1 div{
    position: relative;
    height: 7vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
    z-index: 2;
}
.gi1 a img{
    transition: transform 0.5s ease;
}
.gi1 a:hover img{
transform: scale(1.1);
}
.grid22img1 div:first-child{
    margin-top: 20px;
    height: auto;
    background-color: transparent;
    width: auto;

}
.gi1 a img{
    object-fit: cover;
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 80%;
    margin-left: 25px;
}
.gi1 a{
    background-color: transparent;
}
.t1{
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-weight: 700;
    color: rgb(33, 37, 41);
    size: 16px;
    line-height: 14px;
    text-align: center;
}
.t2{
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: rgb(33, 37, 41);
    text-align: center;
    
}
.t3{
    text-align: center;

    
}
.grid22img2{
    position: relative;
     background-color: white;
     border: 1px solid white;
     border-radius: 8px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 10px;
    gap: 0;
    

}
.grid22img2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 1px solid gray;
     border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grid22img2:hover::before{
    opacity: 0.5;
    
}
.grid22img2 div{
    z-index: 2;
    position: relative;
    height: auto;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
}
.grid22img2 div:first-child{
    margin-top: 20px;
    height: auto;
    background-color: transparent;
width: auto;
}
.grid22img3{
    position: relative;
     background-color: transparent;
     border: 1px solid white;
     border-radius: 8px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 20px;
    gap: 0;
    

}
.grid22img3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 1px solid gray;
     border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grid22img3:hover::before{
    opacity: 0.5;
    
}
.grid22img3 div{
    position: relative;
    z-index: 2;
    height: auto;
    background-color: transparent;
    margin: 0;
    padding: 0;

    width: auto;
}
.grid22img3 div:first-child{
    margin-top: 20px;
    height: auto;
    background-color: transparent;
    width: auto;

}
.grid22img4{
    position: relative;
     background-color: transparent;
     border: 1px solid white;
     border-radius: 8px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 20px;
    gap: 0;
    

}
.grid22img4::before{
    content: "";
    position: absolute;
    border: 1px solid gray;
     border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grid22img4:hover::before{
    opacity: 0.5;
    
}
.grid22img4 div{
    position: relative;
    z-index: 2;
    height: auto;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
}
.grid22img4 div:first-child{
    margin-top: 20px;
    height: auto;
    background-color: transparent;
    overflow: hidden;
width: auto;

}
.button2 a{
margin-top: 0px;
    background-color:black ;
    border: 1px solid black;
    border-radius: 17px;
    display: inline-block;
    height: 6vh;
    width: 10vw;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: white;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
}
.button2 a:hover{
background-color: white;
color: black;
}

.bg2{
    position: relative;
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-image: url("Images/V6C.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
}
.bg21{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    top: 40px;
    left: 400px;
    background-color: transparent;
}
.bg21 span {
    
    width: auto;
    height: auto;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    background-color: transparent;

}
.bg21 span a{
     font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.pro{
    position: absolute;
    top: 560px;
    left: 500px;
    background-color: transparent;
    color: white;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;

}
.essential{
    position: absolute;
    top: 600px;
    left: 520px;
    background-color: transparent;
    color: white;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.b2{
    position: absolute;
    top: 630px;
    left: 570px;
    height: 6vh;
    width: 10vw;
    border-radius: 16px;
     background-color: red;
    border: 1px solid black;
   text-align: center;
}
.b2 a{
    
    color: white;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent; 
    text-align: center;
    text-decoration: none;
}
.b2 a:hover{
    color: black;
}
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 94%;
    margin: 0 auto;
    height: 95vh;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 60px;
    
}
.news div{
    width: 100%;
    height: 84vh;
    
}
.n1{
    position: relative;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 5px;
    
}

.n1 img{
    position: absolute;
width: 100%;
height: auto;


}

.n1 .date{
    position: absolute;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(33, 37, 41);
    top: 220px;
    left: 200px;
    height: auto;
    width: auto;
    border: transparent;

}
.n1 hr{
    position: absolute;
    border: none;
    border-top: 1px solid rgb(167, 166, 166);
    top: 250px;
    width: 95%;
    left: 10px;
    right: 10px;

}
.n1 .n1text{
    position: absolute;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: black;
    font-weight: 700;
    top: 270px;
    left: 20px;
    height: auto;
    width: 80%;
    
}
.more a{
    position: absolute;
    top: 430px;
    right: 15px;
     color: white;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    background-color: black; 
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 19px;
     height: 6vh;
    width: 10vw;

}
.more a:hover{
    background-color: white;
    color: black;
}
@media(max-width: 767px){
    
   
    nav a svg.icon{
        float: right;
        margin-left: 5px;
    }
    .box{
        position: static;
        display: none;
        width: 100%;
    }
    
    .nav{
        display: none;
    }
   .nav2{
    display:grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    width: 100%;
    height: 15vh;
    
    padding: 0;
    background-color: white;
    position: relative;
   }
   .logo ,.menusvg, .logos{

    width: 100%;
    height: 10vh;
    padding: 10px;
    background-color: white;
   }
   .nav2 .menusvg label{
    margin-top: 13px;
    display: inline-block;
    padding:0px 5px;
    
    border-radius: 5px;
    background-color: white;
   }
   .logo a img{
    width: auto;
    height: auto;
    margin-left: 150px;
    background-color: white;
   }
   .logos  svg{
   margin-left: 10px;
   background-color: white;
   }
   span{
    background-color: white;
   }
   div{
    background-color: white;
   }
   span{
    background-color: white;
   }
   a{
    background-color: white;
   }
   svg{
    background-color: transparent;
   }
   input{
    display: none;
    
   }
   label{
    background-color: transparent;
   }
   .answer{
     display: flex;
    flex-direction: column;
    width: 100%;
   position: absolute;
   top: 78px;
   left: 0px;
   transition: max-height 0.5s ease,padding 0.5s ease;
   
   background-color: white;
   padding: 0 ;
   box-sizing: border-box;
   z-index: 999;
   overflow: hidden; 
   max-height: 0;
   }
  #lines:checked + label + .answer{
    
    max-height: 1000px;
    padding: 10px 24px;

    
  }
  
  .answer > div{
    width: 100%;
    box-sizing: border-box;
  }
  
.tv-checkbox:checked + label +.box{
    display: block;
    
}
  .answer div a:hover{
    text-decoration: underline;
    color: red;
}
nav a svg{
    background-color: transparent;
}
.box{
    position: relative;
    max-height: 0;
    overflow: hidden;
transition: max-height 0.4s ease;
    background-color: white;
    padding:0;
max-width: 160px;
white-space: nowrap;
    min-width: 90px;
    z-index: 1000;
    
    border: 1px solid rgb(155, 155, 155);
    box-sizing: border-box;
    
}

.box ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
   
}
.box ul li {
    margin-top: 0px;
    background-color: white;
    list-style: none;
    
    
}
.box ul li a{
    color: black;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
   text-decoration: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}


.box ul li a:hover{
    color: white;
    text-decoration: underline;
    background-color: red;
    

}
label.tv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    width: 80%;
    box-sizing: border-box;
    background-color: white;
    
}
.answer div a{
    padding-left: 5px;
}
.tv-checkbox:checked + label + .box{
    max-height: 500px;
}
.a{
   color: black;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
   text-decoration: none; 
}

.nav2 .answer label.tv{
     color: black;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
   text-decoration: none; 
}
div a.tv{
     color: black;
    font-family: Gotham, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
   text-decoration: none; 
}
}